<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>
<%= image_tag @pin.image.url(:medium) %><br/>

<p>
  <strong>Picture:</strong>
  <%= @pin.picture %>
</p>
<br/>

<%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-default" %>

<%= link_to 'Back', pins_path, class: "btn btn-default" %>
