<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading text-center"><%= image_tag @pin.image.url(:medium) %>
	 </div>
	 <div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class=“container ”>
      <br/>
      	 <small> By: <b> <%= @pin.user.email %> </b> <%= time_ago_in_words(@pin.created_at) %> ago. </samll>
        <% if @pin.user == current_user %>
          <div  class="btn-group pull-right">
            <%= link_to 'Back', pins_path, class: "btn btn-default" %>
            <%= link_to like_pin_path(@pin), method: :put, id:"like-btn-show", class: "btn btn-default btn-danger" do %>
          <span class="glyphicon glyphicon-heart"></span>
            <%= @pin.get_upvotes.size %>
            <%= link_to 'Edit', edit_pin_path(@pin),class: "btn btn-default" %>
        <% end %>
      <% end %>
    </div>
  <br />
	 <div class="panel-body">
	   <h4> <%= :description %></h4>
  	 <p>  <%= @pin.description %></p>
  <br/>
<hr/>

  <div class=“container”>
    <h3> Comments </h3>
    <br />
<% @pin.comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= :user_name %></div>
    <div class="panel-body">
        <P><%= comment.content %></p>
      <hr />
        <small><%= time_ago_in_words(comment.created_at)%> ago</small>
      </div>
      </div>
  <%end%>

    <%= form_for [@pin, @pin.comments.build] do |f| %>
      <%= f.text_area :content,  class:"form-control", rows:"5" %>
      <%= f.submit "Post",       class: "btn btn-default pull-right" %>
    <%end%>
  </div>
</div>
</div>
</div>
</div>


